* {
	margin: 0;
	padding: 0;
}
body {
	padding-top: 50px !important;
	background-color: #f4f4f4;
	height: 2000px;
}

/* NAVBAR */

.navbar {
	border: 0px !important;
	box-shadow: 0px 2px 2px #dbdbdb;
}
.navbar .container-fluid {
	width: 94%;
	margin: 0 auto;
}
.navbar-header{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	font-family: 'Lato';
}
.navbar .navbar-nav {
	margin-left: 60px;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.navbar .navbar-nav li a{
	font-family: 'Lato';
}

/* SIDEBAR */

#wrapper {
	padding-top: 20px;
}
#sidebar-wrapper{
	background-color: #383d43 !important;
	padding-left: 0px !important;
	z-index: 9999 !important;
}
.sidebar-nav li a{
	color: #f6f2d3 !important;
	font-family: 'Lato';
	text-transform: uppercase;
}
.sidebar-nav li {
	line-height: 50px !important;
}
.sidebar-nav li a i{
	margin-right: 20px;
}

.sidebar-nav li a .fa{
	display: initial;
	color: #f6f2d3;
}
.sidebar-nav .sidebar-brand {
	background-color: #db5031;
	font-size: 16px !important;
}
.sidebar-nav > .sidebar-brand {
    line-height: 65px !important;
    text-indent: 0px !important;
    text-align: center;
    font-weight: bold;
}
.sidebar-nav > .sidebar-brand a:hover {
    background-color: #db5031 !important;
}
.sidebar-nav li a:hover {
    background-color: #272b2f !important;
}